{% load static %}
{% block body %}

{% include 'admin_navigation.html'%}

<style>
    .mydiv:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
    }
</style>

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcolor; background-color:lightblue; font-weight:bold; margin-top:1%">
    Admin - Home
</marquee>
<hr>
<div class="container mt-5">
    <h1 class="text-center">Andro Duniya Technology</h1>
    <br><br>
    <div class="row mt-5">
        <div class="col-sm-6 mydiv">
            <h4 class="text-center"><i class="fa fa-user"></i> <a href="{% url 'view_recruiters' %}" style="color:black;text-decoration: none;">Total Recruiters</a></h4>
            <p class="text-center">{{rcount}}</p>
        </div>

        <div class="col-sm-6 mydiv">
            <h4 class="text-center"><i class="fa fa-user"></i><a href="{% url 'view_users' %}" style="color:black;text-decoration: none;"> Total Users</a></h4>
            <p class="text-center">{{scount}}</p>
        </div>
    </div>
</div>
<br><br>

<hr>
{% include 'footer_admin.html'%}
{% endblock body%}