{% load static %}
{% block body %}

{% include 'user_navigation.html'%}
<style>
    tr{
    text-align: center;
    }
</style>
<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcolor; background-color:lightblue; font-weight:bold; margin-top:1%">
    Apply Job
</marquee>
<hr>
<div class="container shadow-lg py-2 mb-2">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <label class="font-weight-bold">Upload Resume </label>
        <input type="file" class="form-control" name="resume" accept="application/pdf">
    </div>
    <input type="submit" value="Submit" class="btn btn-success mt-3">

</form>


</div>

{% ifequal error "close" %}
<script>
    alert("Application line are close, last date is over");
    window.location = ('{% url 'user_joblist' %}')
</script>
{% endifequal %}

{% ifequal error "notopen" %}
<script>
    alert("Application line are not Open");
    window.location = ('{% url 'user_joblist' %}')
</script>
{% endifequal %}

{% ifequal error "done" %}
<script>
    alert("Job Application Submitted Successfully");
    window.location = ('{% url 'user_joblist' %}')
</script>
{% endifequal %}

{% endblock body%}