{% load static %}
{% block body %}

{% include 'recruiter_navigation.html'%}

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcolor; background-color:lightblue; font-weight:bold; margin-top:1%">
    Change Company Logo
</marquee>

<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--  1st Row  -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label><b> Job Title </b></label>
            <input type="text" class="form-control" readonly name="jobtitle" value="{{job.title}}" required>
        </div>
    </div>

<!--  3rd Row  -->
    <div class="form-row">

        <div class="form-group col-md-12">
            <img src="{{job.image.url}}" width="100" height="90">
        </div>
    </div>


<!--  4th Row  -->
    <div class="form-row">


        <div class="form-group col-md-6">
        <label><b> Company Logo </b></label>
            <input type="file" class="form-control" name="logo" required>
        </div>
    </div>

     <!--  5th Row  -->

<input type="submit" value="Submit" class="btn btn-secondary my-3" style="width:200px">
</form>





{% include 'footer.html'%}

{% ifequal error "no" %}
<script>
    alert("Company Logo has been Added Successful");
    window.location = ('{% url 'change_companylogo' job.id %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endifequal %}

{% endblock body%}