{% load static %}
{% block body %}

{% include 'admin_navigation.html'%}

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcolor; background-color:lightblue; font-weight:bold; margin-top:1%">
    Recruiter - Change Status
</marquee>
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Recruiter Name</b></label>
    <input type="text" class="form-control" name="rname" value="{{recruiter.user.first_name}} {{recruiter.user.last_name}}">

     <label><b>Status</b></label>
    <select class="form-control" name="status">
        <option>--Select--</option>
        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>
    </select>

    <input type="submit" class="btn btn-dark " style="margin-top:2%; color:darkcolor; ">


</form>

{% include 'footer.html'%}

{% ifequal error "no" %}
<script>
    alert("Status Changed Successfully");
    window.location = ('{% url 'recruiter_pending' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endifequal %}


{% endblock body%}