{% load static %}

{% block body%}

{% include 'navigation.html'%}
<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcolor; background-color:lightblue; font-weight:bold; margin-top:1%">
    Recruiter Login
</marquee>

<hr>
<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>UserName</b></label>
    <input type="text" class="form-control" name="uname" placeholder="Enter UserName">

     <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

    <input type="submit" class="btn btn-dark " style="margin-top:2%; color:darkcolor; ">
    <a href="{% url 'recruiter_signup' %}" class="btn btn-secondary" style="margin-left:2%; margin-top:2%; color:darkcolor;">Don't Have a Account?? Create one..</a>


</form>

<hr>
{% include 'footer.html'%}

{% ifequal error "no" %}
<script>
    alert("login Successful");
    window.location = ('{% url 'recruiter_home' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Invalid Login Credentials, Try Again...");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("Your Login Status is Pending");
</script>
{% endifequal %}

{% endblock body%}