{% load static %}
{% block body %}

{% include 'admin_navigation.html'%}
<style>
    tr{
    text-align: center;
    }
</style>
<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcolor; background-color:lightblue; font-weight:bold; margin-top:1%">
   Raise Ticket List
</marquee>

<hr>
<div class="container">
<table class="table table-hover" id="example">
    <thead>
    <tr style="background-color: #000080; color:white">
        <th>Sr. No.</th>
        <th>Title</th>
        <th>Subject</th>
        <th>Description</th>
        <th>User</th>
        <th>Creation Date</th>
    </tr>
    </thead>

    <tbody>
    {% for i in data %}
    <tr style="background-color: #DEB887 ">
        <td>{{forloop.counter}}</td>
        <td>{{i.title}}</td>
        <td>{{i.subject}}</td>
        <td>{{i.description}}</td>
        <td>{{i.user.username}}</td>
        <td>{{i.created_at}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock body%}